<div class='container'>
  <header class='content p-4 is-flex is-justify-content-space-between'>
    <div><p class='title'><a href='/'>Coding Challenges</a></p></div>
    <div class='is-flex is-justify-content-flex-end'>
      <button
        id='update-profile-btn'
        class='js-modal-trigger button is-info is-outlined mr-4'
        target='update-profile-modal'
      >Update Profile</button>

      <button
        id='logout-btn'
        class='button is-danger is-outlined'
      >Logout</button>
    </div>
  </header>
</div>

<div id='update-profile-modal' class='modal'>
  <div class='modal-background'></div>

  <div class='modal-content'>
    <div class='box'>
      <p class="block title is-4">Update Profile</p>
      <!-- Your content -->
      <form id="update-profile-form">
        <div class='block is-hidden'>
          <label for='update-id'>ID</label>
          <input class='input' id='update-id' type='text' disabled />
        </div>
        <div class='block'>
          <label for='update-username'>Username</label>
          <input class='input' id='update-username' type='text' />
        </div>
        <div class='block'>
          <label for='update-fullname'>Full Name</label>
          <input class='input' id='update-fullname' type='text' />
        </div>
        <div class='block has-text-centered'>
          <button
            id='update-profile-submit-btn'
            class='button is-primary'
            type='submit'
          >Update Profile</button>
        </div>
        <div
          id='update-profile-status'
          class='block has-text-centered is-hidden'
        >
          <p></p>
        </div>
      </form>
    </div>
  </div>

  <button class='modal-close is-large' aria-label='close'></button>
</div>

<script src='/scripts/header.js' type='application/javascript'></script>
