<header>
    <div class="pure-g">
        <div class="pure-u-1-2"><strong>Coding Challenges</strong></div>
        <div class="pure-u-1-2">Right bar</div>
    </div>
</header>

<script src="/scripts/home.js" type="application/javascript"></script>
