<header class="container">
    <div class="grid">
        <div><strong>Coding Challenges</strong></div>
        <div>
            <button id="logout-btn">Logout</button>
        </div>
    </div>
</header>

<script src="/scripts/home.js" type="application/javascript"></script>
