<h1>Login</h1>

<form id="login-form">
    <div>
        <label for="login-email">Email</label>
        <input id="login-email" type="text"/>
    </div>
    <div>
        <label for="login-password">Password</label>
        <input id="login-password" type="password"/>
    </div>
    <div>
        <button id="Login" type="submit">Login</button>
    </div>
</form>

<script src="/scripts/login.js" type="application/javascript"></script>