<div class='container'>
  <main class='content my-5 py-5'>
    <h1>Create a new account</h1>

    <form id='signup-form'>
      <div class='block'>
        <label for='signup-email'>Email</label>
        <input class='input' id='signup-email' type='text' />
      </div>
      <div class='block'>
        <label for='signup-password'>Password</label>
        <input class='input' id='signup-password' type='password' />
      </div>
      <div class='block'>
        <label for='signup-passcode'>Passcode</label>
        <input class='input' id='signup-passcode' type='password' />
      </div>
      <div class='block has-text-centered'>
        <button id='signup-btn' class='button is-primary' type='submit'>Sign Up</button>
      </div>
      <div
        id='signup-error'
        class='block has-text-danger has-text-centered is-hidden'
      >
        <p>Signup Failed</p>
      </div>
      <div class='block has-text-centered'>
        <a href='/login'>Login with an existing account</a>
      </div>
    </form>

  </main>
</div>

<script src='/scripts/signup.js' type='application/javascript'></script>